In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ipywidgets import interact
import warnings
warnings.simplefilter("ignore")

In [2]:
df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [3]:
@interact(first_col=df.columns, second_col=df.columns)
def visualization(first_col, second_col):
    plt.title("Comparison with Barplot")
    sns.countplot(x=df[first_col], hue=df[second_col], data=df)
    plt.xlabel(f"{first_col}")
    plt.legend()
    plt.show()

interactive(children=(Dropdown(description='first_col', options=('total_bill', 'tip', 'sex', 'smoker', 'day', …

In [4]:
@interact(column=df.columns)
def histogram(column):
    sns.displot(data=df, x=df[column])

interactive(children=(Dropdown(description='column', options=('total_bill', 'tip', 'sex', 'smoker', 'day', 'ti…

In [5]:
from sklearn.preprocessing import LabelEncoder, MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from lightgbm import LGBMClassifier
from xgboost import XGBClassifier

In [6]:
encoder = LabelEncoder()
object_cols = df.select_dtypes(include=["object", "category", "bool"]).columns
for col in object_cols:
    df[col] = encoder.fit_transform(df[col])
    
df.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [7]:
@interact(scaler=["MinMaxScaler", "StandardScaler"])
def scaling(scaler):
    columns = ["total_bill", "tip"]

    if scaler == "MinMaxScaler":
        scaling = MinMaxScaler(feature_range=(0,1))
    else:
        scaling = StandardScaler()

    for col in columns:
        df[col] = scaling.fit_transform(df[col].values.reshape(-1, 1))

    return df.head()

interactive(children=(Dropdown(description='scaler', options=('MinMaxScaler', 'StandardScaler'), value='MinMax…

In [9]:
@interact(model=["Logistic Regression", "LightGBM", "XGBoost"], target="smoker")
def scaling(model, target):
    X = df.drop(target, axis=1)
    y = df[target]

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    if model == "Logistic Regression":
        modelling = LogisticRegression(C=0.1)
        
    elif model == "LightGBM":
        modelling = LGBMClassifier(num_iterations=500, max_depth=7, learning_rate=0.01, verbose=-1)
        
    elif model == "XGBoost":
        modelling = XGBClassifier(n_estimators=1000, max_depth=5, learning_rate=0.01)
       

    modelling.fit(X_train, y_train)
    y_pred = modelling.predict(X_test)
    print("Score is: ", accuracy_score(y_test, y_pred))

interactive(children=(Dropdown(description='model', options=('Logistic Regression', 'LightGBM', 'XGBoost'), va…